.signinBtn {
  height: 70px;
  width: 295px;
  padding: 28px 30px;
  background-color: #fff;
  border: 1px solid #121212;
  border-radius: 2rem;
  font-size: 14px;
  font-weight: 300;
  color: #121212;
  cursor: pointer;
}
