.container {
  display: flex;
  height: 100vh;
}

.background {
  height: 1090px;
  width: 960px;
}

.wrapper {
  margin-left: 89px;
  height: 1090px;
  width: 960px;
}

.headerContainer {
  width: 841px;
  margin-top: 30px;
  margin-right: 30px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  align-self: center;
}

.header {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 46px;
}

.header p {
  font-size: 18px;
  font-weight: 200;
  line-height: 20px;
}

.backBtn {
  cursor: pointer;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 12px;
}

.inputBox {
  position: relative;
  width: 500px;
}

.inputBox input {
  width: 100%;
  padding: 15px 20px;
  border-radius: 2rem;
  border: 1px solid #777777;
  outline: none;

  font-size: 16px;
  font-weight: 300;
  color: #121212;
}

.inputBox span {
  position: absolute;
  left: 0;
  margin-left: 15px;
  margin-top: -5px;
  padding: 0 4px;
  pointer-events: none;
  font-size: 12px;
  font-weight: 600;
  background: #fff;
  z-index: 1;
}

.terms {
  margin-top: 29px;
  display: flex;
  align-items: center;
}

.terms input {
  margin-right: 16px;
  height: 24px;
  width: 24px;
  border-radius: 0.3rem;
  background-color: white;
  vertical-align: middle;
  border: 1px solid #777777;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.terms input:checked {
  background-color: #fbc81d;
  border: 1px solid #fbc81d;
}

.terms input:checked::after {
  content: '\2713';
  color: #121212;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.terms p {
  font-size: 12px;
  font-weight: 300;
}

.terms span {
  text-decoration: underline;
  cursor: pointer;
}

.buttonWrapper {
  margin-top: 60px;
  display: flex;
  gap: 20px;
}

.saveBtn {
  height: 70px;
  width: 119px;
  padding: 28px 30px;
  background-color: #fbc81d;
  border: none;
  border-radius: 2rem;
  font-size: 14px;
  font-weight: 600;
  color: #121212;
  cursor: pointer;
}

.signinBtn {
  height: 70px;
  width: 295px;
  padding: 28px 30px;
  background-color: #fff;
  border: 1px solid #121212;
  border-radius: 2rem;
  font-size: 14px;
  font-weight: 300;
  color: #121212;
  cursor: pointer;
}
